@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .list-disc-custom {
    list-style-type: disc;
  }
}

/* Typography from original site */

h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
}

h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1 .caption {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.body-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.inline-block {
  display: inline-block;
}

.flamenco-light {
  font-family: "Flamenco", system-ui, sans-serif;
  font-weight: 300;
}

.flamenco-regular {
  font-family: "Flamenco", system-ui, sans-serif;
  font-weight: 400;
}

.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  font-size: 18px; /* original increased slightly on hover */
  text-decoration: underline;
}

footer a {
  color: white;
}

blockquote {
  font-size: 18px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

body {
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

body::before,
body::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body::after {
  content: "";
  width: 400%;
  height: 400%;
  opacity: 0.8;
  background: linear-gradient(-45deg, #f8fcf0, #fff3fe, #f0f5fc, #f0fafc);
  -webkit-animation: gradient_transition 10s ease infinite;
  animation: gradient_transition 10s ease infinite;
}
