---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
const title =
  "Holly Barnard Ph.D., ABPP-CN Pediatric & Developmental Nueropsycholog";
---

<Layout title={title}>
  <section class="hero is-fullheight is-grey">
    <Navbar />

    <NavbarClone />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6">
            <img
              src="/img/holly/holly-barnard-phd-portrait.png"
              class="side-image"
              alt="Description"
            />
          </div>
          <div class="column is-6 landing-caption">
            <h1 class="title is-1 is-bold is-spaced">
              Holly Barnard <small class="is-muted">Ph.D. ABPP-CN</small>
            </h1>
            <h2 class="subtitle is-5">
              Pediatric & Development Nueropsychology
            </h2>
            <p>
              "I became a neuropsychologist cause, like many out there, i had a
              loved one who experienced developmental delays and suffered a
              traumatic brain injury due to medical complications. After
              watching my family members struggle endlessly to find a person who
              could brint it all together and help us find a path forward, I
              decided to become that person."
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="section section-feature-grey is-medium">
      <div class="container">
        <div class="columns is-vcentered app-side">
          <div class="column is-6 is-offset-1">
            <h3 class="title is-3 is-spaced is-title-reveal">
              What is Neuropsychology?
            </h3>
            <p class="subtitle is-5 is-muted">
              A neuropyschologist is an expert in the impact of atypical
              development (e.g., ASD, learning disorders, spina bifida), injury
              (e.g., Traumatic Brain Injury, birth trauma), disease (e.g, tumor,
              meningitis), and decline of the brain.
            </p>
            <p class="subtitle is-5 is-muted">
              Patients can present with a number of complex conditions that, as
              they grow and mature, impact how they think, learn, and behave. A
              neurophychologist helps patients, parents, and teachers to
              understand a person's brain and the way they function best, in
              case of:
            </p>
          </div>
          <div class="column is-6">
            <div class="has-text-centered">
              <img class="side-image" src="/img/illustrations/workers.svg" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="hero-foot mb-20">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/systek.svg" />
              </a>
            </li>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/tribe.svg" />
              </a>
            </li>
            <li>
              <a
                ><img class="partner-logo" src="/img/logo/clients/kromo.svg" />
              </a>
            </li>
            <li>
              <a
                ><img
                  class="partner-logo"
                  src="/img/logo/clients/infinite.svg"
                />
              </a>
            </li>
            <li>
              <a
                ><img
                  class="partner-logo"
                  src="/img/logo/clients/gutwork.svg"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Great Power Comes</h2>
        <h3 class="subtitle is-5 is-muted">With great Responsability</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="feature-cards content-wrapper">
        <div class="columns">
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>App builder</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/web.svg" />
              </div>
              <div class="card-text">
                <p>This is some cool explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Free Trial</a
                >
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Cloud integration</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/rocket.svg" />
              </div>
              <div class="card-text">
                <p>This is some explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div
              class="feature-card is-bordered has-text-centered is-feature-reveal"
            >
              <div class="card-title">
                <h4>Addons & Plugins</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/light-bulb.svg" />
              </div>
              <div class="card-text">
                <p>This is some explanatory text that is on two rows</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised"
                  >Get Started</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium section-feature-grey">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Awesome Features</h2>
        <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-4 is-offset-2">
          <h3 class="title is-3 mb-10 is-title-reveal">Connect with people</h3>
          <p class="subtitle is-5 is-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum
            audissem Antiochum, Brute, ut solebam, cum M. Quae diligentissime
            contra Aristonem dicuntur a Chryippo.
          </p>
        </div>
        <div class="column is-5">
          <img src="/img/illustrations/features/feature-1.png" alt="" />
        </div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-5 is-offset-1">
          <img src="/img/illustrations/features/feature-2.png" alt="" />
        </div>
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 mb-10 is-title-reveal">Collaborate easily</h3>
          <p class="subtitle is-5 is-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum
            audissem Antiochum, Brute, ut solebam, cum M. Quae diligentissime
            contra Aristonem dicuntur a Chryippo.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Wait, there's more</h2>
        <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns is-multiline icon-list">
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fa6-brands:github"></i>
              </div>
              <h4>Github</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fa6-brands:bitbucket"></i>
              </div>
              <h4>Bitbucket</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fa6-brands:slack"></i>
              </div>
              <h4>Slack</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fa6-brands:npm"></i>
              </div>
              <h4>Npm</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fluent:javascript-16-regular"></i>
              </div>
              <h4>Javascript</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="fontisto:nodejs"></i>
              </div>
              <h4>Nodejs</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="ph:angular-logo"></i>
              </div>
              <h4>Angular</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="bi:google"></i>
              </div>
              <h4>Google</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="carbon:logo-python"></i>
              </div>
              <h4>Python</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="bi:wordpress"></i>
              </div>
              <h4>WordPress</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="icon-park-solid:android"></i>
              </div>
              <h4>Android</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <i class="iconify" data-icon="uiw:apple"></i>
              </div>
              <h4>Apple</h4>
              <p>Some feature text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="section is-medium has-background-image"
    data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900"
    data-color="#4FC1EA"
    data-color-opacity=".6"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
        <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
      </div>

      <div class="testimonials content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu,
                hinc minim appetere te usu, ea case duis scribentur has. Duo te
                consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/1.png" alt="" />
                <div>
                  <h5>Irma Walters</h5>
                  <span>Accountant</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu,
                hinc minim appetere te usu, ea case duis scribentur has. Duo te
                consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/2.png" alt="" />
                <div>
                  <h5>John Bradley</h5>
                  <span>Financial Analyst</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu,
                hinc minim appetere te usu, ea case duis scribentur has. Duo te
                consequat elaboraret, has quando suavitate at.
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/3.png" alt="" />
                <div>
                  <h5>Gary Blackman</h5>
                  <span>HR Manager</span>
                </div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Get Started</h2>
        <h3 class="subtitle is-5 is-muted">Choose one of our plans</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="pricing-wrap">
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Starter</h3>
          <img src="/img/illustrations/pricing/1.svg" alt="" />
          <div class="price">0</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth is-bold">Get Started</a>
        </div>
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Pro</h3>
          <img src="/img/illustrations/pricing/2.svg" alt="" />
          <div class="price">15</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth primary-btn raised is-bold"
            >Get Started</a
          >
        </div>
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Business</h3>
          <img src="/img/illustrations/pricing/3.svg" alt="" />
          <div class="price">30</div>
          <p>Sign up, get some awesome features and get started now</p>
          <a class="button is-fullwidth is-bold">Get Started</a>
        </div>
      </div>
    </div>
  </section>
</Layout>
