---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import FeatureList from "../components/FeatureList.astro";
import HeroSection from "../components/HeroSection.astro";
import PageHeader from "../components/PageHeader.astro";
import OurApproach from "../components/OurApproach.astro";
import HowToGetStarted from "../components/HowToGetStarted.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
---

<BaseLayout>
  <main class="max-w-4xl mx-auto px-8 py-16">
    <PageHeader title="Pediatric & Developmental Neuropsychology" />

    <HeroSection
      title="What is Neuropsychology?"
      description="A neuropsychologist is an expert in the impact of atypical development (e.g., ASD, learning disorders, spina bifida), injury (e.g., traumatic brain injury, birth trauma), disease (e.g., tumor, meningitis), and decline on the brain. Patients can present with a number of complex conditions that, as they grow and mature, impact how they think, learn, and behave. A neuropsychologist helps patients, parents, and teachers to understand a person's brain and the way they function best."
      image="/img/we-all-have-our-different-needs.png"
      imageAlt="Woman holding two cardboard cutouts representing differences in a person."
      reverse={true}
    />

    <OurApproach />

    <FeatureList
      title="Conditions We Support"
      items={[
        "Attention-Deficit Hyperactivity Disorder",
        "Autism Spectrum Disorder (ASD)",
        "Epilepsy",
        "Genetic/Chromosomal Disorders",
        "Hearing Loss",
        "History of Brain Tumor",
        "History of Neurologic Infections",
        "Hydrocephalus",
        "Metabolic Disorders",
        "Neurodevelopmental Disorders",
        "Oxygen Deprivation",
        "Specific Learning Disorders",
        "Structural Abnormalities of the Brain",
        "Toxic Encephalopathy",
        "Traumatic Brain Injury (TBI)",
        "Vascular Events/Conditions",
      ]}
    />

    <WhyChooseUs />

    <HowToGetStarted />

    <ContactCTA />
  </main>
</BaseLayout>
