<footer class="footer">
  <svg
    width="100%"
    height="40"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 400 80"
  >
    <circle cx="50" cy="20" r="5"></circle>
    <circle cx="95" cy="20" r="8"></circle>
    <circle cx="140" cy="20" r="10"></circle>
    <circle cx="185" cy="20" r="14"></circle>
    <circle cx="230" cy="20" r="10"></circle>
    <circle cx="275" cy="20" r="8"></circle>
    <circle cx="320" cy="20" r="5"></circle>
  </svg>

  <div class="container">
    <div class="title-wrapper has-text-centered content-center">
      <h2 class="title is-2 is-spaced">Ready to reach your full potential?</h2>
      <h3 class="subtitle is-5 is-muted">
        Contact Dr. Barnard for a free phone or e-mail consultation and
        determine whether the practice is a good fit for your child.
      </h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="First Name *"
                />
              </div>
              <div class="column is-6">
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="Last Name *"
                />
              </div>
              <div class="column is-6">
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="Email *"
                />
              </div>
              <div class="column is-6">
                <input
                  class="input is-medium"
                  type="tel"
                  placeholder="Telephone"
                />
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="6" placeholder=""></textarea>
              </div>
              <div class="column is-12">
                <div class="form-footer has-text-right mt-10">
                  <button
                    class="button cta is-large primary-btn form-button raised is-clear"
                    >Send Message</button
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
